<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.*" />
    <context:property-placeholder ignore-unresolvable="true" location="classpath:/conf/application.properties" />

    <import resource="classpath:spring/spring-shiro.xml"/>
    <import resource="classpath:spring/spring-jdbc.xml"/>


    <!-- 异常切面 -->
    <aop:aspectj-autoproxy/>
    <bean id="serviceExceptionAspect" class="com.config.aspect.ServiceExceptionAspect" />
    <bean id="daoExceptionAspect" class="com.config.aspect.DaoExceptionAspect" />

    <!-- 支持上传文件 -->
    <bean name="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="10240000" />
        <!-- 设置在文件上传时允许写到内存中的最大值，以字节为单位计算，默认是10240 -->
        <!-- 但是经实验，上传文件大小若小于此参数，则不会生成临时文件，故改为2048 -->
        <property name="maxInMemorySize" value="2048" />
    </bean>


    <!--&lt;!&ndash;添加多线程配置启用&ndash;&gt;-->
    <!--<task:annotation-driven/>-->

    <!--&lt;!&ndash; spring thread pool executor &ndash;&gt;-->
    <!--<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">-->
        <!--&lt;!&ndash; 线程池维护线程的最少数量 &ndash;&gt;-->
        <!--<property name="corePoolSize" value="20" />-->
        <!--&lt;!&ndash; 线程池维护线程的最大数量 &ndash;&gt;-->
        <!--<property name="maxPoolSize" value="100" />-->
        <!--&lt;!&ndash; 缓存队列 &ndash;&gt;-->
        <!--<property name="queueCapacity" value="100" />-->
        <!--&lt;!&ndash; 允许的空闲时间 &ndash;&gt;-->
        <!--<property name="keepAliveSeconds" value="200" />-->

        <!--&lt;!&ndash; 对拒绝task的处理策略 &ndash;&gt;-->
        <!--&lt;!&ndash;<property name="rejectedExecutionHandler">&ndash;&gt;-->
        <!--&lt;!&ndash;<bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />&ndash;&gt;-->
        <!--&lt;!&ndash;</property>&ndash;&gt;-->
    <!--</bean>-->





</beans>