body{
    font-family:"SimHei", "microsoft yahei", "ºÚÌå", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
.lt{
    float: left;
}
.rt{
    float: right;
}
.tct{
    text-align: center;
}
.tlt{
    text-align: left;
}
.trt{
    text-align: right;
}

/* index Page */
.index{
    background: url("../img/back.png");
    background-repeat: repeat;
    background-size: cover;
}
.title{
    width: 100%;
    margin:0 auto;
    font-size: 50px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 25px;
    color: #9e005d;
}
.searchwrap{
    width: 700px;
    margin:0 auto;
}
.searchwrap input{
    height: 250px;
    width: 350px;
    background:  url("../img/1.png");
    background-size: contain;
    background-repeat: no-repeat;
    border:none;
    box-shadow: none;
    padding-left: 80px;
    padding-top: 5px;
    font-size: 28px;
}
.searchwrap input:focus{
    border:none;
    box-shadow: none;
}
.searchwrap .btn{
    background: transparent;
    border-color: transparent;
    height: 200px;
    width: 220px;
    padding: 10px;
    margin-top: 0;
    cursor: pointer;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
}
.searchwrap .btn:hover{
    padding: 5px;
    cursor: pointer;
}
.searchwrap .btn img{
    width: 100%;
    height: 100%;
}
.book{
    width: 500px;
    margin:0 auto;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
}
.book:hover{
    transform:scaleY(1.1);
    -ms-transform:scaleY(1.1); /* Internet Explorer */
    -moz-transform:scaleY(1.1); /* Firefox */
    -webkit-transform:scaleY(1.1); /* Safari ºÍ Chrome */
    -o-transform:scaleY(1.1); /* Opera */
}
.book img{
    width: 100%;
}
.footer{
    width: 500px;
    margin:30px auto 0 auto;
    border-top: 1px solid #bbb;
    color: #888;
}
.index .footer{
    position: absolute;
    bottom: 20px;
    left: calc(50% - 250px);
}

/* Detail Page */
.detail{
    background: url("../img/back.png");
    background-repeat: repeat;
    background-size: cover;
}
.detail .title{
    width: 100%;
    margin:0 auto;
    font-size: 40px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #9e005d;
}
.detail .searchwrap{
    position: absolute;
    top: 30px;
    right: 100px;
    width: 200px;
}
.detail .searchwrap input{
    width: 200px;
    height: 130px;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 10px;
}
.detail .searchwrap .btn{
    position: absolute;
    width: 90px;
    height: 80px;
    top: 10px;
}
.home{
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100px;
    height: 80px;
    background-color: transparent;
    border-color: transparent;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
}
.home:hover{
    cursor: pointer;
    left: 25px;
}
.home img{
    width: 100%;
    height: 100%;
}
.detailwrap{
    width: 400px;
    height: 500px;
    margin:0 auto;
}
.infoRow{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 26px;
    color: #29abe3;
}
.mytable{
    width: 100%;
}
.trumpet{
    width: 50px;
    position: relative;
    left: -60px;
    top: -50px;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
}
.trumpet:hover{
    /* Rotate div */
    transform:rotate(9deg);
    -ms-transform:rotate(9deg); /* Internet Explorer */
    -moz-transform:rotate(9deg); /* Firefox */
    -webkit-transform:rotate(9deg); /* Safari ºÍ Chrome */
    -o-transform:rotate(9deg); /* Opera */
}
.trumpet img{
    width: 100%;
}
.dtltable{
    margin:0 auto;
}
.dtltable tr td{
    width: 80px;
}
.capture{
    margin:0 auto;
    max-width: 950px;
    overflow-x: auto;
}
.capture img{
    width: 80px;
    height: 80px;
    margin-right: 15px;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;   
}
.capture img:hover{
    width: 140px;
    height: 140px;
}
.capture .name{
    color: #9e005c;
}
.no{
    width: 20px;
    height: 20px;
    font-size: 16px;
    color: white;
    text-align: center;
    background-color: green;
    position: relative;
    top: 20px;
    left: 0;
}