body{
    font-family:"SimHei", "microsoft yahei", "ºÚÌå", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
.lt{
    float: left;
}
.rt{
    float: right;
}
.tct{
    text-align: center;
}
.tlt{
    text-align: left;
}
.trt{
    text-align: right;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: inherit; /* #FAFFBD; */
    background-image: inherit;
    color: inherit;
}
/* index Page */
.index{
    background: url("../img/back.png");
    background-repeat: repeat;
    background-size: cover;
}
.title{
    width: 600px;
    margin:0 auto;
    font-size: 50px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 40px;
    color: #9e005d;
}
.title img{
    width: 100%;
}
.searchwrap{
    width: 750px;
    margin:0 auto;
    overflow: auto;
}
.searchwrap input{
    height: 190px;
    width: 400px;
    background:  url("../img/s1.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    border:none;
    box-shadow: none;
    padding-left: 110px;
    font-size: 30px;
}
.searchwrap input:focus{
    border:none;
    box-shadow: none;
}
.searchwrap .btn{
    background: transparent;
    border-color: transparent;
    height: 160px;
    width: 200px;
    padding: 10px;
    margin-top: 0;
    cursor: pointer;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
}
.searchwrap .btn:hover{
    padding: 5px;
    cursor: pointer;
}
.searchwrap .btn img{
    width: 100%;
    height: 100%;
}
.book{
    width: 500px;
    margin:0 auto;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
}
.footer{
    width: 500px;
    margin:30px auto 0 auto;
    border-top: 1px solid #bbb;
    color: #888;
}
.index .footer{
    position: absolute;
    bottom: 20px;
    left: calc(50% - 250px);
}
.myradios{
    width: 800px;
    margin: 0 auto;
}
.myradios .radiobtn{
    background: transparent;
    border-color: transparent;
    width: 200px;
    height: 60px;
    padding: 0;
    margin-right: 50px;
    cursor: pointer;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
}
.myradios .radiobtn:hover{
    /* Rotate div */
    transform:rotate(5deg);
    -ms-transform:rotate(5deg); /* Internet Explorer */
    -moz-transform:rotate(5deg); /* Firefox */
    -webkit-transform:rotate(5deg); /* Safari ºÍ Chrome */
    -o-transform:rotate(5deg); /* Opera */
}
.myradios .radiobtn img{
    width: 100%;
    height: 100%;
}

/* Detail Page */
.detail{
    background: url("../img/back.png");
    background-repeat: repeat;
    background-size: cover;
}
.detail .title{
    width: 300px;
    margin:0 auto;
    font-size: 40px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #9e005d;
}
.detail .title img{
    width: 100%;
}
.detail .searchwrap{
    position: absolute;
    top: 30px;
    right: 120px;
    width: 220px;
    height: 100px;
    overflow: initial;
}
.detail .searchwrap input{
    background:  url("../img/s2.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    width: 220px;
    height: 100px;
    font-size: 20px;
    padding-left: 80px;
}
.detail .searchwrap .btn{
    position: absolute;
    width: 100px;
    height: 88px;
}
.home{
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100px;
    height: 80px;
    background-color: transparent;
    border-color: transparent;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
}
.home:hover{
    cursor: pointer;
    left: 25px;
}
.home img{
    width: 100%;
    height: 100%;
}
.detailwrap{
    width: 400px;
    height: 500px;
    margin:0 auto;
}
.infoRow{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 26px;
    color: #333;
}
.mytable{
    width: 100%;
}
.trumpet{
    width: 50px;
    position: relative;
    left: -60px;
    top: -50px;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
}
.trumpet:hover{
    /* Rotate div */
    transform:rotate(9deg);
    -ms-transform:rotate(9deg); /* Internet Explorer */
    -moz-transform:rotate(9deg); /* Firefox */
    -webkit-transform:rotate(9deg); /* Safari ºÍ Chrome */
    -o-transform:rotate(9deg); /* Opera */
}
.trumpet img{
    width: 100%;
}
.dtltable{
    margin:0 auto;
}
.dtltable tr td{
    width: 80px;
}
.capture{
    margin:0 auto;
    max-width: 950px;
    overflow-x: auto;
}
.capture img{
    width: 80px;
    height: 80px;
    margin-right: 15px;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;   
}
.capture img:hover{
    width: 140px;
    height: 140px;
}
.capture .name{
    color: #9e005c;
}
.no{
    width: 16px;
    height: 16px;
    font-size: 12px;
    color: white;
    text-align: center;
    background-color: green;
    position: relative;
    top: 16px;
    left: 0;
}

/* Radical Page */
.radical .count{
    font-family: "楷体","楷体_GB2312";
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    color: #C00;
    text-align: center;
}
.radical ul li{
    list-style: none;
    float: left;
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: 4px !important;
    margin-right: 4px !important;
}
.radical ul li a{
    font-family: "楷体","楷体_GB2312";
    display: block;
    font-size: 30px;
    color: #000;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid Silver;
    cursor: pointer;
}
.radical ul li a:hover {
    background-color: #FF9;
    border: 1px solid #900;
    cursor: pointer;
}