@font-face {
    font-family: 'AdobeHeitiStd';
    src: url('../fonts/AdobeHeitiStd-Regular.otf');
}
html,body{
    font-family:"SimHei", "microsoft yahei", "黑体", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
.lt{
    float: left;
}
.rt{
    float: right;
}
.tct{
    text-align: center;
}
.tlt{
    text-align: left;
}
.trt{
    text-align: right;
}
video::-internal-media-controls-download-button {
    display:none;
}
video::-webkit-media-controls-enclosure {
    overflow:hidden;
}
video::-webkit-media-controls-panel {
    width: calc(100% + 30px); 
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: inherit; /* #FAFFBD; */
  background-image: inherit;
  color: inherit;
}
/* index Page */
.index{
    background: url("../img/back.png");
    background-repeat: repeat;
    background-size: cover;
}
.content{
    width: 800px;
    height: 450px;
    margin: auto;  
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0; 
}
.title{
    width: 600px;
    margin:0 auto;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 40px;
    color: #9e005d;
}
.title img{
    width: 100%;
}
.searchwrap{
    width: 800px;
    margin:0 auto;
    overflow: auto;
}
.searchwrap input{
    height: 190px;
    width: 620px;
    background:  url("../img/s1.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    border:none;
    box-shadow: none;
    margin-left: 50px;
    padding-left: 30px;
    padding-top: 50px;
    font-size: 30px;
}
.searchwrap input:focus{
    border:none;
    box-shadow: none;
}
.searchwrap .btn{
    background: transparent;
    border-color: transparent;
    height: 110px;
    width: 128px;
    padding: 10px;
    margin-left: -20px;
    margin-top: 60px;
    cursor: pointer;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
}
.searchwrap .btn:hover{
    padding: 5px;
    cursor: pointer;
}
.searchwrap .btn img{
    width: 100%;
    height: 100%;
}
.book{
    width: 500px;
    margin:0 auto;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
}
.footer{
    width: 500px;
    margin:30px auto 0 auto;
    border-top: 2px dashed #ddd;
    color: #bbb;
}
.fixed-bottom {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 250px);
}
.myradios{
    width: 800px;
    margin: 10px auto;
    margin-left: -25px;
}
.myradios .radiobtn{
    background: transparent;
    border-color: transparent;
    width: 150px;
    height: 60px;
    padding: 0;
    margin-right: 50px;
    cursor: pointer;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
}
.myradios .radiobtn:hover{
    /* Rotate div */
    transform:rotate(5deg);
    -ms-transform:rotate(5deg); /* Internet Explorer */
    -moz-transform:rotate(5deg); /* Firefox */
    -webkit-transform:rotate(5deg); /* Safari ºÍ Chrome */
    -o-transform:rotate(5deg); /* Opera */
}
.myradios .radiobtn img{
    width: 100%;
    height: 100%;
}

/* Detail Page */
.detail{
    background: url("../img/back.png");
    background-repeat: repeat;
    background-size: cover;
}
.detail .title{
    width: 300px;
    margin:0 auto;
    font-size: 40px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #9e005d;
}
.detail .title img{
    width: 100%;
}
.detail .searchwrap{
    position: absolute;
    top: 30px;
    right: 100px;
    width: 180px;
    height: 80px;
    overflow: visible;
}
.detail .searchwrap input{
    background:  url("../img/s2.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    width: 180px;
    height: 80px;
    font-size: 16px;
    padding-left: 65px;
    padding-top: 0;
    margin: 0;
}
.detail .searchwrap .btn{
    position: absolute;
    width: 65px;
    height: 60px;
    margin-top: 5px; 
    margin-left: 0;
}
.home{
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100px;
    height: 80px;
    background-color: transparent;
    border-color: transparent;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
}
.home:hover{
    cursor: pointer;
    left: 25px;
}
.home img{
    width: 100%;
    height: 100%;
}
.detailwrap{
    height: 500px;
    margin:0 auto;
}
.infoRow{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 26px;
    color: #333;
}
.infoRow img{
    width: 30px;
}
.mytable{
    margin: 0 auto;
}
.mytable td{
    white-space: nowrap;
    font-family: "AdobeHeitiStd";
    line-height: 30px;
}
.trumpet{
    width: 50px;
    position: relative;
    left: -60px;
    top: -50px;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
}
.trumpet:hover{
    /* Rotate div */
    transform:rotate(9deg);
    -ms-transform:rotate(9deg); /* Internet Explorer */
    -moz-transform:rotate(9deg); /* Firefox */
    -webkit-transform:rotate(9deg); /* Safari ºÍ Chrome */
    -o-transform:rotate(9deg); /* Opera */
}
.trumpet img{
    width: 100%;
}
.dtltable{
    margin:0 auto;
}
.dtltable tr td{
    width: 80px;
    font-size: 16px;
}
.capture{
    margin:0 auto;
    max-width: 950px;
    overflow-x: auto;
}
.capture img{
    width: 80px;
    height: 80px;
    margin-right: 15px;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;   
}
.capture img:hover{
    width: 140px;
    height: 140px;
}
.capture .name{
    color: #9e005c;
}
.no{
    width: 16px;
    height: 16px;
    font-size: 12px;
    color: white;
    text-align: center;
    background-color: green;
    position: relative;
    top: 16px;
    left: 0;
}

/* Radical Page */
.radical{
    background: url("../img/back.png");
    background-repeat: repeat;
    background-size: cover;
}
.radical .title{
    width: 180px;
    margin:0 auto;
    font-size: 40px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #9e005d;
}
.rdlist{
    width: 800px;
    margin: 0 auto;
}
.rdlist .count{
    font-family: "楷体", "楷体_GB2312", "STKaiti";
    font-size: 30px;
    height: 30px;
    width: 80px;
    line-height: 30px;
    color: #9e005d;
    text-align: center;
}
.rdlist table{
    border-collapse:separate; 
    border-spacing:0px 10px;
}
.rdlist ul li{
    list-style: none;
    float: left;
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: 4px !important;
    margin-right: 4px !important;
}
.rdlist ul li a{
    font-family: "楷体", "楷体_GB2312", "STKaiti";
    background: #f6f0ff;
    display: block;
    overflow: hidden;
    font-size: 26px;
    color: #000;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid Silver;
    cursor: pointer;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;   
}
.rdlist ul li a img{
    padding: 3px;
    width: 100%;
}
.rdlist ul li a:hover {
    background-color: #99ecff;
    border: 1px solid #706d86;
    cursor: pointer;
}
.rdlist .info{
    font-family: "黑体", "黑体_GB2312", "STHeiti";
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px dotted #d2a5be;
}
.rdlist .info img{
    width: 25px;
}
.tips{
    font-size: 16px;
    margin: 10px auto;
    width: 600px;
    text-align: center;
    color: #9e005c;
}
.divider{
    width: 100%;
    border-top: 1px dashed #9E9E9E;
    height: 10px;
    margin-top: 10px;
}

/*login*/
.loginwrap{
    width: 400px;
    margin:0 auto;
    overflow: auto;
}
.loginwrap input{
    height: 150px;
    width: 400px;
    background:  url("../img/s3.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    border:none;
    box-shadow: none;
    padding-left: 90px;
    padding-bottom: 60px;
    font-size: 30px;
}
.loginbtnwrap {
    width: 170px;
    margin:0 auto;
}
.loginbtn{
    margin: 0 auto;
    background: transparent;
    border-color: transparent;
    width: 170px;
    height: 60px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all ease-in-out .15s, box-shadow ease-in-out .15s;
}
.loginbtn:hover{
    /* Rotate div */
    transform:rotate(5deg);
    -ms-transform:rotate(5deg); /* Internet Explorer */
    -moz-transform:rotate(5deg); /* Firefox */
    -webkit-transform:rotate(5deg); /* Safari ºÍ Chrome */
    -o-transform:rotate(5deg); /* Opera */
}
.loginbtn img{
    width: 100%;
    height: 100%;
}